@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "GeistMono";
  src: url("./fonts/GeistMonoVF.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url("./fonts/Bitter-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

#comingSoon {
  visibility: hidden;
  position: relative;
}

#comingSoon:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
  content: "COMING SOON";
  display: block;
}

#hero {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.574),
      rgb(0, 0, 0)
    ),
    url("../public/backgrounds/heroBackground.png");
  background-position: center;
  background-size: cover;
}
